
<ng-template #contenuProjete>
  <ng-content />
</ng-template>

@if (routerLink()) {
  <a
    class="cdv-bouton cdv-bouton--{{ variante() }}"
    [routerLink]="routerLink()"
  >
    <ng-container [ngTemplateOutlet]="contenuProjete" />
  </a>
} @else {
  <button
    class="cdv-bouton cdv-bouton--{{ variante() }}"
    [class.cdv-bouton--chargement]="chargement()"
    [type]="type()"
    [disabled]="disabled() || chargement()"
  >
    @if (chargement()) {
      <span class="cdv-bouton__spinner" aria-hidden="true"></span>
    }
    <ng-container [ngTemplateOutlet]="contenuProjete" />
  </button>
}
