@use '../../../styles/mixins' as v;

.cdv-grille-valeurs {
  display: grid;
  grid-template-columns: 1fr;
  gap: v.$space-4;
  margin-top: v.$space-6;
  text-align: left;

  @include v.desktop {
    grid-template-columns: repeat(3, 1fr);
    gap: v.$space-5;
  }

  h3 {
    margin-bottom: v.$space-2;
  }

  p {
    color: v.$color-text-secondary;
    margin: 0;
  }
}
