@if (organisation(); as org) {
  <footer class="cdv-footer">
    <div class="cdv-footer__grid">
      <div class="cdv-footer__bloc">
        <h4>{{ 'COMMON.NOM_ONG' | translate }}</h4>
        <ul class="cdv-footer__contacts">
          <li>
            <span class="cdv-footer__contact">
              <span class="cdv-footer__icone cdv-footer__icone--adresse" aria-hidden="true">
                <cdv-icone-contact type="adresse" />
              </span>
              <span class="cdv-footer__contact-texte">
                <span class="cdv-footer__label">{{ 'FOOTER.ADRESSE_LIBELLE' | translate }}</span>
                {{ org.adresse }}
              </span>
            </span>
          </li>
          <li>
            <a class="cdv-footer__contact" [href]="'mailto:' + org.email">
              <span class="cdv-footer__icone cdv-footer__icone--email" aria-hidden="true">
                <cdv-icone-contact type="email" />
              </span>
              <span class="cdv-footer__contact-texte">
                <span class="cdv-footer__label">{{ 'FOOTER.EMAIL_LIBELLE' | translate }}</span>
                {{ org.email }}
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="cdv-footer__bloc">
        <h4>{{ 'FOOTER.COORDONNEES_TITRE' | translate }}</h4>
        <ul class="cdv-footer__contacts">
          <li>
            <a class="cdv-footer__contact" [href]="'tel:' + org.telephone">
              <span class="cdv-footer__icone cdv-footer__icone--telephone" aria-hidden="true">
                <cdv-icone-contact type="telephone" />
              </span>
              <span class="cdv-footer__contact-texte">
                <span class="cdv-footer__label">{{ 'FOOTER.TELEPHONE_LIBELLE' | translate }}</span>
                {{ org.telephone }}
              </span>
            </a>
          </li>
          <li>
            <a class="cdv-footer__contact" [href]="org.whatsappUrl" target="_blank" rel="noopener noreferrer">
              <span class="cdv-footer__icone cdv-footer__icone--whatsapp" aria-hidden="true">
                <cdv-icone-contact type="whatsapp" />
              </span>
              <span class="cdv-footer__contact-texte">
                <span class="cdv-footer__label">{{ 'FOOTER.WHATSAPP_LIBELLE' | translate }}</span>
                {{ org.whatsapp }}
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="cdv-footer__bloc">
        <h4>{{ 'FOOTER.RESEAUX_TITRE' | translate }}</h4>
        <ul class="cdv-footer__contacts">
          <li>
            <a class="cdv-footer__contact" [href]="org.messengerUrl" target="_blank" rel="noopener noreferrer">
              <span class="cdv-footer__icone cdv-footer__icone--messenger" aria-hidden="true">
                <cdv-icone-contact type="messenger" />
              </span>
              <span class="cdv-footer__contact-texte">
                <span class="cdv-footer__label">{{ 'FOOTER.MESSENGER_LIBELLE' | translate }}</span>
                {{ 'COMMON.NOM_ONG' | translate }}
              </span>
            </a>
          </li>
          <li>
            <a class="cdv-footer__contact" [href]="org.facebookUrl" target="_blank" rel="noopener noreferrer">
              <span class="cdv-footer__icone cdv-footer__icone--facebook" aria-hidden="true">
                <cdv-icone-contact type="facebook" />
              </span>
              <span class="cdv-footer__contact-texte">
                <span class="cdv-footer__label">{{ 'FOOTER.FACEBOOK' | translate }}</span>
                {{ 'COMMON.NOM_ONG' | translate }}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="cdv-footer__mentions">© {{ anneeCourante }} {{ 'FOOTER.MENTIONS' | translate }}</p>
  </footer>
}
