@if (organisation$ | async; as org) {
  <footer class="cdv-footer">
    <div class="cdv-footer__grid">
      <div class="cdv-footer__bloc">
        <h4>{{ 'COMMON.NOM_ONG' | translate }}</h4>
        <p>{{ org.adresse }}</p>
      </div>

      <div class="cdv-footer__bloc">
        <h4>{{ 'FOOTER.COORDONNEES_TITRE' | translate }}</h4>
        <p>
          <span class="cdv-footer__label">{{ 'FOOTER.TELEPHONE_LIBELLE' | translate }} :</span>
          <a [href]="'tel:' + org.telephone">{{ org.telephone }}</a>
        </p>
        <p>
          <span class="cdv-footer__label">{{ 'FOOTER.EMAIL_LIBELLE' | translate }} :</span>
          <a [href]="'mailto:' + org.email">{{ org.email }}</a>
        </p>
      </div>

      <div class="cdv-footer__bloc">
        <h4>{{ 'FOOTER.LIENS_TITRE' | translate }}</h4>
        <nav class="cdv-footer__liens">
          <a routerLink="/qui-sommes-nous">{{ 'NAV.QUI_SOMMES_NOUS' | translate }}</a>
          <a routerLink="/missions">{{ 'NAV.MISSIONS' | translate }}</a>
          <a routerLink="/projets">{{ 'NAV.PROJETS' | translate }}</a>
          <a routerLink="/contact">{{ 'NAV.CONTACT' | translate }}</a>
        </nav>
      </div>

      <div class="cdv-footer__bloc">
        <h4>{{ 'FOOTER.RESEAUX_TITRE' | translate }}</h4>
        <a [href]="org.facebookUrl" target="_blank" rel="noopener noreferrer">{{
          'FOOTER.FACEBOOK' | translate
        }}</a>
      </div>
    </div>

    <p class="cdv-footer__mentions">© {{ anneeCourante }} {{ 'FOOTER.MENTIONS' | translate }}</p>
  </footer>
}
