@use '../../../styles/mixins' as v;

.cdv-grille-partenaires {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: v.$space-4;
  text-align: center;

  @include v.desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: v.$space-5;
  }

  cdv-carte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: v.$space-3;
  }

  &__logo {
    max-width: 100%;
    height: 80px;
    object-fit: contain;
  }

  h2 {
    font-size: 1rem;
    color: v.$color-text-secondary;
  }
}
